
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

    <meta charset="UTF-8">

    <title>*! Little Storage !* Login Page</title>

    <link href="css/login_page.css" rel="stylesheet">

</head>
<body>
    <h1>Welcome to the System!</h1>
    <p>Please, enter login data for getting access.</p>
    <form method="post">
        <p>Enter login (only latin and digits):</p>
        <p><input type="text" name="login_input" required="required" pattern="[a-zA-Z0-9-]{1,30}"></p>
        <p>Enter password (only latin and digits):</p>
        <p><input type="password" name="pass_input" required="required" pattern="[a-zA-Z0-9-]{1,30}"></p>
        <p><input type="checkbox" name="save_session"> Stay in system</p>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <div id="invalid_credentials"></div>
        <p><input type="submit"></p>
    </form>

    <script id="invalid_credentials_template" type="text/template" >
        <p class="invalid">Invalid login or/and password.</p>
    </script>

    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <script type="text/javascript" src="js/login_page.js" ></script>
</body>
</html>